Graphics3D/Service References/CalcService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13776/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCalculationLib" />
  <xs:element name="CulcTeploParal3D">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCalculationLib" minOccurs="0" name="inputMatrixes" nillable="true" type="q1:InputDate3D" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CulcTeploParal3DResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfCalculationLib" minOccurs="0" name="CulcTeploParal3DResult" nillable="true" type="q2:OutputDate3D" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CulcTeploPosl3D">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfCalculationLib" minOccurs="0" name="inputMatrixes" nillable="true" type="q3:InputDate3D" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CulcTeploPosl3DResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfCalculationLib" minOccurs="0" name="CulcTeploPosl3DResult" nillable="true" type="q4:OutputDate3D" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CulcTeploParal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfCalculationLib" minOccurs="0" name="inputMatrixes" nillable="true" type="q5:InputDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CulcTeploParalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfCalculationLib" minOccurs="0" name="CulcTeploParalResult" nillable="true" type="q6:OutputDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CulcTeploPosl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfCalculationLib" minOccurs="0" name="inputMatrixes" nillable="true" type="q7:InputDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CulcTeploPoslResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfCalculationLib" minOccurs="0" name="CulcTeploPoslResult" nillable="true" type="q8:OutputDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>