Graphics/Service References/CalcService/CalcService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalcService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://acer/WCF_Calc/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://acer/WCF_Calc/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://acer/WCF_Calc/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCalculationLib" />
      <xsd:import schemaLocation="http://acer/WCF_Calc/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalcService_CulcTeploParal_InputMessage">
    <wsdl:part name="parameters" element="tns:CulcTeploParal" />
  </wsdl:message>
  <wsdl:message name="ICalcService_CulcTeploParal_OutputMessage">
    <wsdl:part name="parameters" element="tns:CulcTeploParalResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_CulcTeploPosl_InputMessage">
    <wsdl:part name="parameters" element="tns:CulcTeploPosl" />
  </wsdl:message>
  <wsdl:message name="ICalcService_CulcTeploPosl_OutputMessage">
    <wsdl:part name="parameters" element="tns:CulcTeploPoslResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalcService">
    <wsdl:operation name="CulcTeploParal">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/CulcTeploParal" message="tns:ICalcService_CulcTeploParal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/CulcTeploParalResponse" message="tns:ICalcService_CulcTeploParal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CulcTeploPosl">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/CulcTeploPosl" message="tns:ICalcService_CulcTeploPosl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/CulcTeploPoslResponse" message="tns:ICalcService_CulcTeploPosl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalcService" type="tns:ICalcService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CulcTeploParal">
      <soap:operation soapAction="http://tempuri.org/ICalcService/CulcTeploParal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CulcTeploPosl">
      <soap:operation soapAction="http://tempuri.org/ICalcService/CulcTeploPosl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="BasicHttpBinding_ICalcService" binding="tns:BasicHttpBinding_ICalcService">
      <soap:address location="http://acer/WCF_Calc/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>