Graphics/Service References/CalcService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfCalculationLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfCalculationLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13776/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="InputDate3D">
    <xs:sequence>
      <xs:element minOccurs="0" name="H" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Mass_u" nillable="true" type="q1:ArrayOfArrayOfArrayOfdouble" />
      <xs:element minOccurs="0" name="Tau" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputDate3D" nillable="true" type="tns:InputDate3D" />
  <xs:complexType name="OutputDate3D">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Culc_Teplo" nillable="true" type="q2:ArrayOfArrayOfArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutputDate3D" nillable="true" type="tns:OutputDate3D" />
  <xs:complexType name="InputDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="H" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Mass_u" nillable="true" type="q3:ArrayOfArrayOfdouble" />
      <xs:element minOccurs="0" name="Tau" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputDate" nillable="true" type="tns:InputDate" />
  <xs:complexType name="OutputDate">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Culc_Teplo" nillable="true" type="q4:ArrayOfArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutputDate" nillable="true" type="tns:OutputDate" />
</xs:schema>